.attribute-display {
    margin-left: 51px;
    width: 88.8vw;
}

.attribute-display h2 {
    text-align: left;
    font-weight: 300;
    margin-bottom: 0px;
}

.attribute-display .content {
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #191925;
    padding: 15px;
    border-radius: 10px;
}
